p {
	text-align: center;
}

.alergias {
	color: white;
	text-align: center;
}

h1 {
	color: white;
	font-size: 24px;
	text-align: center;
}

h2 {
	font-weight: bold;
	padding-bottom: 2em;
}

h3 {
	font-size: 16px;
	text-align: center;
	padding-bottom: 6em;	
}

body {
	text-align: center;
}

footer {
	color: white;
	text-align: center;
}

#guardar {
	text-align: center;
}

.wrap {
	margin: 1em auto;
}

.formulario {
	display: flex;
	justify-content: center;
	color: white;
	/*display: -webkit-box;*/
}

.formulario .datos_personales {
	border: 2px solid white;
	text-align: ;: left;
	padding: 32px;
	margin: 16px;
	/*justify-content: center;	*/
}
.datos_personales p {
	text-align: left;
}

.formulario .alergias {
	border: 2px solid white;
	padding: 32px;
	margin: 16px;
	/*justify-content: center;*/
}
.alergias p {
	text-align: left;
}

.botones {
	text-align: center;
	margin-bottom: 2em;
}

.logo_clinica {
	margin: 1em;
}

p {
	padding-bottom: 12px;
}